# personal files & folders
*Omer/
*omer/
*omer*
Aviv/

pr*/
*.env
*env

Assignments-Final/

# system & random shit to be ignored
RandomShit/
.vs/
.vscode/
.cursor/
.github/
.idea/
Web.config
EclipseProjects/
