
.big_font{font-size:large; line-height:2.5 }
.profile-img{width:80px; height:80px; border-radius:50%; border:3px solid white; margin-left:40px; margin-right:40px; }
.flex-container{display:flex; align-items:center; justify-content:center;}
.icons{display: block;}