
.big_font{font-size:large; line-height:2.5 }
.profile-img{width:80px; height:80px; border-radius:50%; border:3px solid white; margin-left:40px; margin-right:40px; }
.flex-container{display:flex; align-items:center; justify-content:center; flex-wrap:wrap; }
.icons{color: white; margin-top:20px; }
.profile-box {display: flex; flex-direction: column;  align-items: center;}
.line{width: 1px; background-color: white; height: 100px; }



