body, div {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 100%;
    height: 500px;
}

#to, #controls, #from {
    float: left;
    width: 30%;
    height: 100%
}

#from {
    background-color: yellow;
}

#to {
    background-color: orange;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 0 auto;
    background-color: blue;
    display: block;
    color: white;
}

h1 {
    text-align: center;
}

.sel {
    color: red;
}

