body{
    background-image: url("/images/backgroud image.png");
    font-family: "Segoe Script", serif;
}

.grid-container{
    display: grid;
    grid-template-rows: repeat(7,auto);
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 20px;
}

.grid-container>div{
    background-color: aliceblue;
    border-radius: 30px;
    width: min(90%, 600px);
    padding: 0.5rem;
}
.grid-container>div:hover{
    box-shadow: 0 14px 50px rgba(0,0,0, 1);
}

.title{font-size: 50px}

.back-arrow{
    position: fixed;
    top:20px;
    left:20px;
}


