body{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Segoe Script", serif;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;

}



.pageTitle{
    color: rgba(43, 5, 38, 0.85);
    font-weight: 500;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    font-size: 60px;
    font-family: "Times New Roman", serif;
    margin-bottom: 20px;
}

.cardTitle{
    font-weight: lighter;
    color: rgba(70, 20, 61, 0.85);
}



.glassCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 28px;
    border-radius: 30px;
    gap: 16px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}



.inputField{
    padding: 12px;
    border-radius: 14px;
    border: none;
    outline: none;
    width: 260px;
    font-size: 14px;
    font-family: "Times New Roman", serif;
    background: rgba(255,255,255,0.85);
}



.cardBtn{
    padding: 10px 24px;
    border: none;
    border-radius: 12px;
    font-family: "Segoe Script", serif;
    color: white;
    cursor: pointer;
    background: linear-gradient(90deg, #7a00ff, #fc3de6);
    box-shadow: 0 6px 18px rgba(122, 0, 255, 0.4);
    width: 200px;
    height: 36px;
    font-size: 14px;
}

.cardBtn:hover{
    box-shadow: 0 14px 50px rgba(0,0,0, 1);
}



.miniAlert{
    position: fixed;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: rgba(40, 20, 70, 0.9);
    color: white;
    font-family: "Times New Roman", serif;
    border-radius: 14px;
    font-size: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    z-index: 9999;
}


@media(max-width:480px) {
    .pageTitle{
        font-size: 42px;
    }

    .glassCard{
        width: 70%;

    }

    .miniAlert{
        bottom: 80px;
    }
}
