body {
    direction: ltr;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    min-height: 100vh;
    line-height: 1.6;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

.container {
    max-width: 1500px;
    margin: auto;
    gap: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.grid-container .card {
    background-color: whitesmoke;
    padding: 1rem;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 1);
    border-radius: 8px;
    font-size: 1rem;
}

@media screen and (max-width: 960px) {
    .container {
        grid-template-columns: 1fr;
    }
}

