body {
    direction: ltr;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    line-height: 1.6;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    gap: 1em;
}

/* general page elements design that are inside the .container */

.page-header {
    background: whitesmoke;
    padding: 10px 15px;
    margin: 20px 5px;
    border-radius: 15px;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 1);
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.grid-container .card {
    background-color: whitesmoke;
    padding: 1rem;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 1);
    border-radius: 8px;
    font-size: 1rem;
}

@media screen and (max-width: 960px) {
    .container {
        grid-template-columns: 1fr;
    }
}

/* navbar style */
.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

.navbar li {
    float: inline-start;
}
