body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Times New Roman", serif;
    text-align: center;
    min-height: 100vh;
}

.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.8rem;
}

.back-arrow {
    position: absolute;
    top:20px;
    left:20px;
}

h1 {
    color: rgba(43, 5, 38, 0.85);
    font-weight: 500;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    font-size: 60px;
    font-family: "Times New Roman", serif;
}

@media (max-width: 480px) {

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
        padding-left: 10px;
        padding-right: 10px;
    }
    .back-arrow {
        top:5px;
        left:5px;
    }
    input {
        margin-left: 50px;
    }
}
