body{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Times New Roman", serif;
    text-align: center;
    min-height: 100vh;
    font-size: 20px;
    justify-content: center;
}
.page-header h1{
    color: rgba(43, 5, 38, 0.85);
    font-weight: 500;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    font-size: 60px;
}

.recharge-card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.balance-display {
    text-align: center;
    margin-bottom: 40px;
    padding: 30px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 15px;
    color: white;
}

.balance-display h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.balance-amount {
    font-size: 3em;
    font-weight: bold;
}

.recharge-form {
    text-align: center;
}

.form-group {
    margin-bottom: 25px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-size: 1.1em;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1.1em;
    direction: ltr;
}

.form-group input:focus {
    outline: none;
    border-color: #667eea;
}

.btn-primary {
    transition: background 0.3s;
    font-size: 1.1rem;
    padding: 10px 24px;
    border: none;
    border-radius: 12px;
    font-family: "Segoe Script", serif;
    color: white;
    cursor: pointer;
    background: linear-gradient(90deg, #7a00ff, #fc3de6);
    box-shadow: 0 6px 18px rgba(122, 0, 255, 0.4);
    width: 100%;
    height: 50px;

}

.btn-primary:hover {
    box-shadow: 0 14px 50px rgba(0,0,0, 1);
}

.miniAlert{
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: rgba(40, 20, 70, 0.9);
    color: white;
    font-family: "Times New Roman", serif;
    border-radius: 14px;
    font-size: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    z-index: 9999;
}

.back-arrow{
    position: absolute;
    top:20px;
    left:20px;

}
@media (max-width: 480px) {
    .back-arrow{
        top:5px;
        left:5px;
    }

}
