body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 900px;

}

#recommendations {
    display: flex;
    flex-direction: column;
    padding:20px;
    border-radius: 30px;
    height: 90%;
    width: 90%;
    gap: 2px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

h1 {
    color: rgba(43, 5, 38, 0.85);
    font-weight: 500;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    font-size: 60px;
    font-family: "Times New Roman", serif;
}

h2{
    color: rgba(43, 5, 38, 0.85);
    font-size: 35px;

}
h3{
    color: white;
    font-size: 25px;
    margin: 4px;
}
p{
    font-size: 25px;
}
ul{
    padding-right: 10px;
}
li{
    margin-bottom: 25px;
    font-size: 30px;
}


.back-arrow{
    position: absolute;
    top:20px;
    left:20px;

}
@media (max-width: 480px) {
    h2 {
      font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
    li{
        margin-bottom: 25px;
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
    #recommendations{
        height: 700px;
    }

    .back-arrow{
        top:5px;
        left:5px;

    }

}