/* * {
    color: black;
    text-align: justify;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
} */

tr {
    text-align: center;
    background-color: lightcyan;
}

.year-view {
    background-color: lightgrey;
}

.day-view {
    text-align: center;
}

/* div {
    color: hwb(0 26% 73%);
    padding: 3px;
    margin: 3px;
    border: 5px solid black;
} */

/* a {
    height: 100px;
    width: 100px;
} */

/* img {
    width: 80px; height: 80;
    border: 1px solid #ccc;
} */

.fit-picture {
    width: 200px;
}